
@{
    ViewData["Title"] = "Success";
}
<div style="height:200px;">

</div>
<div class="success-message" style="text-align:center;">
    <img src="~/img_logo/tichxanh.jpg" alt="">

    <h2 style="color: #4CB551">Payment sucess!</h2>

    <a style="color: #4CB551" href="~/HomeController1">Back to Home</a>
</div>